body {
    margin: 0;
    overflow: hidden;
    overscroll-behavior: none;
}

canvas {
    background-color: rgb(189, 104, 7);
    position: relative;
    z-index: -100;
}
nav {
    margin: 0;
    padding: 0;
    display: grid;
    align-items: end;
    backdrop-filter: blur(30px);
    width: 100dvw;
}
.menu-item a{
    text-decoration: none;
    font-family: monospace;
    font-size: 1rem;
    font-weight: 500;
    color: bisque;
    text-decoration: none;
}
ul {
    padding: 0 2rem;
}
.menu-item {
    list-style-type: none;
    text-align: right;
    margin: 0;
    padding: 0;
    right: 0;
}

.canvas_body {
    position: absolute;
}

.menu-item a:hover{
    text-decoration-color: bisque;
    text-decoration: line-through;
}

.page-title {
    font-family: monospace;
    font-size: 7rem;
    font-weight: 800;
    color: bisque;
    position: absolute;
    
}

.page-title a{
    text-decoration: none;
    font-family: monospace;
    font-size: 7rem;
    font-weight: 500;
    color: bisque;
}